<footer class="site-footer">

  <div class="wrapper">
  
    <div class="contact-container">
      <h2>I can help!</h2>
      
      <h4>It would be great to hear from you, either through email:</h4>
      
      <a class="email" href="mailto:rachelheodesign@gmail.com">rachelheodesign@gmail.com</a>

      <h4>or:</h4>
    </div>

    <div class="socialmedia-container">
      <a href="https://www.instagram.com/h__rach/" class="social-instagram"></a>
      <a href="https://www.facebook.com/eunju.heo" class="social-facebook"></a>
      <a href="https://ca.linkedin.com/in/rachelheo" class="social-linkedin"></a>
    </div>

    <h6>&#169; 2017 RACHEL HEO. ALL RIGHTS RESERVED</h6>
  
  </div>

</footer>
