<header class="site-header" role="banner">

  <div class="wrapper">
    
    <a class="small-logo" href="#"></a>
    
    <div class="hamburger-menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

    <div class="dropdown-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/testimonials">TESTIMONIALS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>

  

</header>
