---

---
@charset "utf-8";

// Our variables
$base-font-family: QuicksandBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-subheading-font-family: RalewayLight, Helvetica;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$button-font-family: QuicksandRegular, Helvetica;
$button-width: 280px;
$button-height: 85px;
$button-font-size: 18px;

$footer-background-color: #666;

$text-color:       #fff;
$background-color: #ff7373;
$brand-color:      #2a7ae2;
$hover-button-color: #ffc2e4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'QuicksandRegular';
  src: url('./fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: "RalewayLight";
  src: url('./fonts/Raleway-Light.ttf');
}

// Import partials from the `minima` theme.
// @import "minima";

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.quote-container {
  display: flex;
  justify-content: center;

  blockquote {
    font-family: $base-font-family;
    color: $text-color;
    width: 800px;
    font-size: 25px;
    letter-spacing: 6px;
    @media(max-width: 730px) {
      font-size: 15px;
      width: 88%;
    }

    p {
      text-align: right;
    }

    footer {
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 12px;
      // margin-left: 580px;
      display: flex;
      justify-content: flex-end;
      @media(max-width: 730px) {
        font-size: 10px;
        letter-spacing: 4px;
      }
    }

  } 

}

.about-container {
  
  margin-top: 175px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 80%;

  .about-heading {

    // margin-left: 20px;

  }
  
  .about-content {
    
    display: flex;
    justify-content: center;
    // margin-right: 115px;
    margin-left: 20px;
    @media(max-width: 950px) {
      flex-direction: column;
    }
    h2 {
      font-size: 22px;
      color: $text-color;
      text-decoration: underline;
      font-family: $base-font-family;
      letter-spacing: 6px;
      margin-bottom: 35px;
    }

    .text { 
      margin-right: 25px;
      @media(max-width: 950px) {
        align-self: center;        
      }
      @media(max-width: 650px) {
        margin-right: 0;
      }

      p {
        font-size: 16px;
        color: $text-color;
        font-family: $base-subheading-font-family;
        letter-spacing: 2px;
        margin-top: -15px;
        line-height: 22px;
        width: 600px;
        @media(max-width: 650px) {
          width: 90%;
          font-size: 14px;
        }
      }

    }

    .profile-image {

      align-self: center;
      // margin-right: 39px;
      // margin-top: -9px;

      img {
        height: 300px;
        width: 300px;
      }
    }

  }


}

.services-container {

  margin-top: 150px;
  // margin-left: 284px;

  font-family: $base-subheading-font-family;
  color: $text-color;
  text-align: left;
  letter-spacing: 2px;
  
  .services-heading {
    // margin-left: -5px;
    font-family: $base-font-family;
    color: $text-color;
    text-decoration: underline;
    
    h2 {
      font-size: 22px;
      letter-spacing: 6px;
    }
  }

  .services-wrapper {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 950px) {
      width: 600px;
    }
    @media(max-width: 650px) {
      width:80%;
    }
  }

  .left-pair, .right-pair {
    width: 50%;
    font-size: 15px;
    @media(max-width: 650px) {
      width: 100%;
    }
  }

  .right-pair {
    margin-left: 35px;
    @media(max-width: 650px) {
      margin-left: 0;
    }
  }

  .design-pair {
    display: flex;
    // justify-content: center;
    // margin-left: -228px;
    margin-bottom: 75px;
    font-size: 15px;
    @media(max-width: 650px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  .printdesign {
    // margin-left: 48px;
    font-size: 12px;
  }

  @media only screen and (min-width: 1440px) {

    .printdesign {
      margin-left: -4px;
      font-size: 12px;
    }
  
  }

}

.contact-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .emoji-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;

    &:hover {
      > .emoji-blush {
        visibility: visible;
      }
    }

    .emoji {
      width: 200px;
      height: 200px;
    }

    .emoji-blush {
      
      visibility: hidden;
      margin-top: -198px;
      margin-left: 122px;

      img {
        height: 108px;
      }

    }

  }

  .availability-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 16px;
      width: 600px;
      letter-spacing: 3px;
      margin-top: -5px;

    }

    .availability-header {
      margin-bottom: 35px;
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 5px;
      font-size: 25px;
      white-space: nowrap;
      margin-right: 64px;
    }

    .availability-description {

      margin-left: 40px;

      p {

        &:nth-child(1) {
          margin-left: 142px;
        }

        &:nth-child(2) {
          margin-left: 195px;
        }

        &:nth-child(3) {
          margin-left: 180px;
        }

      }

    }

  }

  .messageme {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666; 
    color: #fff;
    font-family: $button-font-family;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    width: $button-width;
    height: $button-height;
    letter-spacing: 1px;
    font-size: $button-font-size;
    text-decoration: none;
    margin-top: 55px;

    &:hover {
      background-color: $hover-button-color;
    }

  }

  .socialmedia-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    margin-right: 25px;

    .social-email {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/closed-envelope-circle.png') 6px center no-repeat;
      background-size: 60px;
      margin-left: 42px;
      margin-right: 35px;
    }
      

    .social-facebook {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/facebook-logo-button.png') 6px center no-repeat;
      background-size: 60px;
      margin-left: 45px;
      margin-right: 35px;
    }

    .social-instagram {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/instagram-logo.png') 6px center no-repeat;
      background-size: 60px;
    }
    
    .social-linkedin {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/linkedin-button.png') 6px center no-repeat;
      background-size: 60px;
    }

  }

}

.testimonial-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .testimonial {
    width: 900px;
    text-align: right;
    color: $text-color;

    blockquote {
      
      margin-top: 120px;
      letter-spacing: 5px;

      p {
          font-family: $base-font-family;
          font-size: 24px;
      }

      footer {
          font-family: $base-subheading-font-family;
          font-size: 16px;
      }

    }

  }

}


.site-header {

  margin-bottom: 200px;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;

    .dropdown-menu {
      position: absolute;
      top: 0;
      background-color: $footer-background-color;
      height: 500px;
      width: 100%;
      display: none;
    
      ul {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        list-style: none;
        margin-top: 80px;
        margin-right: 40px;

      li {
          font-family: $base-subheading-font-family;
          font-size: 16px;
          margin-top: 50px;
          letter-spacing: 5px;
        
        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
              color: $hover-button-color;
            }

          } 

        }

      }
    
    }  

    .small-logo {
      display: block;
      background: url('./images/white.png') center no-repeat;
      height: 42px;
      width: 50px;
      background-size: 35px;
      margin-top: 15px;
      margin-left: 15px;
    }

    .hamburger-menu {

      z-index: 3;

      margin-top: 20px;
      margin-right: 12px;

      &:hover {
        cursor: pointer;
      }

      &.is-active {

        .line {
          
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            -webkit-transform: translateY(9px) rotate(45deg);
            -ms-transform: translateY(9px) rotate(45deg);
            -o-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
          }

          &:nth-child(3) {

            -webkit-transform: translateY(-9px) rotate(-45deg);
            -ms-transform: translateY(-9px) rotate(-45deg);
            -o-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);

          }

        }

      }

      .line {
        background-color: $text-color;        
        height: 3px;
        width: 25px;
        display: block;                
        margin-top: 6px;
        margin-right: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

      }

    }

  }

}


.home {

  .image-container {
  
    display: flex;
    justify-content: center;
    margin-top: 200px;

    .logo {
      width: 330px;
      height: 356px;
    }  

    .project-image {      
      height: 808px;
      width: 940px;
    }

  }  
  
  .heading-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-heading {
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 7px;
      font-size: 30px;

      &.project {
        font-size: 45px;
      }
    }

    .bottom-heading {
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 7px;
      font-size: 30px;
      margin-top: -15px;

      &.design-description {
        font-family: $base-subheading-font-family;
        font-size: 25px;
        margin-top: -30px;
        letter-spacing: 1px;
      }
    }

  }

  .buttons-container {
    display: flex;
    justify-content: center;

    &.projectdetails {
      margin-top: 3px;
    }
  
    .actionbutton-left {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #666;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 15px;
      width: $button-width;
      height: $button-height;

      a {
        color: #fff;
        font-family: $button-font-family;
        letter-spacing: 1px;
        font-size: $button-font-size;
        text-decoration: none;
      }

      &:hover {
        background-color: $hover-button-color;
      }

    }

    .actionbutton-right {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #666;       
      border-radius: 5px;
      margin-left: 15px;
      cursor: pointer;
      width: $button-width;
      height: $button-height;

      a {
        color: #fff;
        font-family: $button-font-family;
        letter-spacing: 1px;
        font-size: $button-font-size;
        text-decoration: none;
      }

      &:hover {
        background-color: $hover-button-color;
      }

    }

  }

  .downarrow-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  
    .downarrow-button {
      background: url('../assets/images/arrowdown.png') no-repeat 19px center;
      background-size: 22px;
      height: 80px;
      width: 60px;
      cursor: pointer;
    }
    
  }

  .uparrow-container {
    display: flex;
    justify-content: flex-end;

    .uparrow-button {
      margin-right: 7px;
      background: url('../assets/images/arrowup.png') no-repeat 19px center;
      background-size: 22px;
      height: 80px;
      width: 60px;
      cursor: pointer;
    }

  }

  

}

.site-footer {
  
  margin-top: 250px;

  .wrapper {

    background-color: $footer-background-color;
    width: 100%;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;

    .contact-container {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      h2 {
        font-family: $base-font-family;
        font-size: 30px;
        color: $text-color;
        margin-top: 100px;
        letter-spacing: 5px;
      }

      h4 {
        font-family: $base-subheading-font-family;
        font-size: 17px;
        color: $text-color;
        margin-top: 10px;
        letter-spacing: 3px;
      }

      .email {
        font-family: $base-subheading-font-family;
        font-size: 20px;
        color: $text-color;
        margin-top: 12px;
        margin-bottom: 30px;
        text-decoration: underline;
        letter-spacing: 2px;
      }

    }

    .socialmedia-container {
        
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70px;
      

      .social-facebook {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/facebook-logo-button.png') 6px center no-repeat;
        background-size: 38px;
        margin-left: 42px;
        margin-right: 42px;
      }

      .social-instagram {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/instagram-logo.png') 6px center no-repeat;
        background-size: 38px;
      }
      
      .social-linkedin {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/linkedin-button.png') 6px center no-repeat;
        background-size: 38px;
      }

    }

    h6 {
      display: flex;
      justify-content: center;
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 9px;
      letter-spacing: 3px;
    }

  }

}

.is-fixed {
  position: fixed;
}

// * {
  // background: #000 !important;
  // color: #0f0 !important;
  // outline: solid#f00 1px !important;
// }

