---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #ff7373;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'QuicksandRegular';
  src: url('./fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('./fonts/Raleway-Regular.ttf');
}

// Import partials from the `minima` theme.
// @import "minima";

body {
  background-color: $background-color;
}

.site-header{

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .small-logo {
      display: block;
      background: url('./images/white.png') center no-repeat;
      height: 50px;
      width: 50px;
      background-size: 28px;
      margin-top: 15px;
      margin-left: 15px
    }

    .hamburger-menu {
      display: block;
      background: url('./images/menu-lines.png') center no-repeat;
      height: 50px;
      width: 50px;
      background-size: 25px;
      margin-top: 15px;
      margin-right: 15px;
    }

  }  

}


.home {

  .logo-container {
  
    display: flex;
    justify-content: center;

    .logo {
      width: 25%;
      height: 30%;
    }  

  }  
  
  .heading-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .name-heading {
      font-family: QuicksandRegular;
      color: $text-color;
    }

    .ui-ux-heading {
      margin-top: -15px;
      font-family: QuicksandRegular;
      color: $text-color;
    }

  }

}


.mini-icon-container {
  width: 100px;
  height: 100px;

  .mini-icon {
    background: url('../assets/images/white.png') no-repeat 6px center;
    display: block;
    width: 100%;
    height: auto;
  }

}


