---

---
@charset "utf-8";

// Our variables
$base-font-family: QuicksandBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-subheading-font-family: RalewayLight, Helvetica;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$button-font-family: QuicksandRegular, Helvetica;
$button-width: 25%;
$button-height: 85px;
$button-font-size: 18px;

$footer-background-color: #666;

$text-color:       #fff;
$background-color: #ff7373;
$brand-color:      #2a7ae2;
$hover-button-color: #ffc2e4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'QuicksandRegular';
  src: url('./fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: "RalewayLight";
  src: url('./fonts/Raleway-Light.ttf');
}

// Import partials from the `minima` theme.
// @import "minima";

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.quote-container {
  display: flex;
  justify-content: center;

  blockquote {
    font-family: $base-font-family;
    color: $text-color;
    width: 800px;
    font-size: 25px;
    letter-spacing: 6px;
    @media(max-width: 730px) {
      font-size: 15px;
      width: 88%;
    }

    p {
      text-align: right;
    }

    footer {
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 12px;
      display: flex;
      justify-content: flex-end;
      @media(max-width: 730px) {
        font-size: 10px;
        letter-spacing: 4px;
      }
    }

  } 

}

.about-container {
  
  margin-top: 175px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 80%;
  
  .about-content {
    
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
    @media(max-width: 950px) {
      flex-direction: column;
    }

    h2 {
      font-size: 22px;
      color: $text-color;
      text-decoration: underline;
      font-family: $base-font-family;
      letter-spacing: 6px;
      margin-bottom: 35px;

        @media(max-width: 730px) {
          font-size: 15px;
        }

    }

    .text { 
      margin-right: 25px;
      @media(max-width: 950px) {
        align-self: center;        
      }
      @media(max-width: 650px) {
        margin-right: 0;
      }

      p {
        font-size: 16px;
        color: $text-color;
        font-family: $base-subheading-font-family;
        letter-spacing: 2px;
        margin-top: -15px;
        line-height: 22px;
        width: 600px;
        @media(max-width: 730px) {
          font-size: 13px;
        }
        
        @media(max-width: 650px) {
          width: 90%;
          font-size: 12px;
        }
      }

    }

    .profile-image {

      align-self: center;

      img {
        height: 300px;
        width: 300px;
      }
    }

  }


}

.services-container {

  margin-top: 150px;

  font-family: $base-subheading-font-family;
  color: $text-color;
  text-align: left;
  letter-spacing: 2px;
  
  .services-heading {

    font-family: $base-font-family;
    color: $text-color;
    text-decoration: underline;
    
    h2 {
      font-size: 22px;
      letter-spacing: 6px;

      @media(max-width: 650px) {
        font-size: 15px;  
      }
    }
  }

  .services-wrapper {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 950px) {
      width: 600px;
    }
    @media(max-width: 650px) {
      width:80%;
    }
  }

  .left-pair, .right-pair {
    width: 50%;
    font-size: 15px;
    @media(max-width: 650px) {
      font-size: 12px;
      width: 100%;
    }
  }

  .right-pair {
    margin-left: 35px;
    @media(max-width: 650px) {
      margin-left: 0;
    }
  }

  .design-pair {
    display: flex;
    margin-bottom: 75px;
    font-size: 15px;
    @media(max-width: 650px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  .printdesign {
    font-size: 12px;
  }

  @media only screen and (min-width: 1440px) {

    .printdesign {
      margin-left: -4px;
      font-size: 12px;
    }
  
  }

}

.contact-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  .emoji-container {

    margin-bottom: 40px;
    width: 40%;

  }
  
  .availability-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    
    p {
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 16px;
      letter-spacing: 3px;
      margin-top: -5px;

    }

    @media (max-width: 530px) {
      margin-top: 0;
    }

    .availability-header {
      margin-bottom: 35px;
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 5px;
      font-size: 25px;

      @media (max-width: 721px) {
        font-size: 20px;
      }

      @media (max-width: 619px) {
        font-size: 18px;
      }

      @media (max-width: 451px) {
        font-size: 16px;
      }

    }

    p {
      
      @media (max-width: 721px) {
        font-size: 16px;
      }

      @media (max-width: 619px) {
        font-size: 14px;
      }

      @media (max-width: 451px) {
        font-size: 12px;
      }

    }

  }

  .messageme {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666; 
    color: #fff;
    font-family: $button-font-family;
    border-radius: 5px;
    cursor: pointer;
    width: $button-width;
    height: $button-height;
    letter-spacing: 1px;
    font-size: $button-font-size;
    text-decoration: none;
    margin-top: 55px;
    min-width: 175px;

    &:hover {
      background-color: $hover-button-color;
    }

      @media(max-width: 440px) {
        width: 20%;
        min-width: 155px;
        height: 55px;
      }

      @media(max-width: 342px) {
          min-width: 140px;
          height: 50px;
      }

      @media(max-width: 320px) {
          min-width: 130px;
          height: 40px;
      }

  }

  .socialmedia-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    margin-right: 25px;

    .social-email {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/closed-envelope-circle.png') 6px center no-repeat;
      background-size: 60px;
      margin-left: 42px;
      margin-right: 35px;
    }
      

    .social-facebook {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/facebook-logo-button.png') 6px center no-repeat;
      background-size: 60px;
      margin-left: 45px;
      margin-right: 35px;
    }

    .social-instagram {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/instagram-logo.png') 6px center no-repeat;
      background-size: 60px;
    }
    
    .social-linkedin {
      width: 70px;
      height: 60px;
      display: block;
      background: url('../assets/images/linkedin-button.png') 6px center no-repeat;
      background-size: 60px;
    }

  }

}

.emoji-blush {
  @media (max-width: 639px) {
    display: none;
  }
}

.testimonial-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  .testimonial {
    width: 80%;
    text-align: right;
    color: $text-color;

    blockquote {
      
      margin-top: 120px;
      letter-spacing: 5px;

      @media (max-width: 495px) {
        font-size: 100px;
      }

      @media(max-width: 320px) {
        margin-top: 70px;
      }

      p {
          font-family: $base-font-family;
          font-size: 24px;

          @media (max-width: 630px) {
            font-size: 20px;
          }

          @media (max-width: 550px) {
            width: 100%;
          }

          @media (max-width: 495px) {
            font-size: 16px;
          }

          @media (max-width: 335px) {
            font-size: 12px;
          }

          @media (max-width: 320px) {
            font-size: 10px;
          }
      }

      footer {
          font-family: $base-subheading-font-family;
          font-size: 16px;

          @media(max-width: 630px) {
            font-size: 12px;
          }

          @media (max-width: 550px) {
            width: 100%;
          }

          @media (max-width: 495px) {
            font-size: 10px;
          }

          @media (max-width: 335px) {
            font-size: 9px;
          }

          @media (max-width: 320px) {
            font-size: 8px;
          }
      }

    }

  }

}


.site-header {

  @media (max-width: 530px) {
    margin-bottom: 140px;
  }

  margin-bottom: 200px;

  .wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #ff7373;

    .dropdown-menu {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $footer-background-color;
      height: 500px;
      width: 100%;
      display: none;
      z-index: 2;
    
      ul {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        list-style: none;
        margin-top: 80px;
        margin-right: 40px;

      li {
          font-family: $base-subheading-font-family;
          font-size: 16px;
          margin-top: 50px;
          letter-spacing: 5px;
        
        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
              color: $hover-button-color;
            }

          } 

        }

      }
    
    }  

    .small-logo {
      display: block;
      background: url('./images/white.png') center no-repeat;
      height: 42px;
      width: 50px;
      background-size: 35px;
      margin-top: 15px;
      margin-left: 15px;
      z-index: 3;
    }

    .hamburger-menu {

      z-index: 3;
      width: 5%;
      margin-top: 20px;
      position: absolute;
      top: 0;
      right: 0;
      

      @media(max-width: 860px) {
        margin-right: 10px;
      }

      @media(max-width: 600px) {
        margin-right: 20px;
      }

      @media(max-width: 320px) {
        margin-right: 25px;
      }

      &:hover {
        cursor: pointer;
      }

      &.is-active {

        .line {
          
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            -webkit-transform: translateY(9px) rotate(45deg);
            -ms-transform: translateY(9px) rotate(45deg);
            -o-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
          }

          &:nth-child(3) {

            -webkit-transform: translateY(-9px) rotate(-45deg);
            -ms-transform: translateY(-9px) rotate(-45deg);
            -o-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);

          }

        }

      }

      .line {
        background-color: $text-color;        
        height: 3px;
        width: 40%;
        min-width: 25px;
        display: block;                
        margin-top: 6px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

    }

  }

}


.home {

  .image-container {
  
    display: flex;
    justify-content: center;
    margin-top: 200px;

  }  
  
  .heading-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-heading {
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 7px;
      font-size: 2.5vw;

      @media(max-width: 700px) {
          font-size: 3.5vw;
      }

      @media(max-width: 320px) {
          font-size: 18px;
      }

      &.project {
        font-size: 2.5vw;
        margin-bottom: 50px;

        @media(max-width: 800px) {
          font-size: 3vw;
        }

        &.denmark {
          @media(max-width: 505px) {
            font-size: 4vw;
          }

          @media(max-width: 412px) {
            font-size: 3.5vw;
          }

          @media(max-width: 412px) {
            font-size: 3vw;
          }
        }
      }
    }

    .bottom-heading {
      font-family: $base-font-family;
      color: $text-color;
      letter-spacing: 7px;
      font-size: 2.5vw;
      margin-top: -15px;

      @media(max-width: 700px) {
          font-size: 3.5vw;
      }

      @media(max-width: 320px) {
          font-size: 18px;
      }

      &.design-description {
        font-family: $base-subheading-font-family;
        font-size: 2vw;
        margin-top: -30px;
        letter-spacing: 1px;

        @media(max-width: 800px) {
          font-size: 3vw;
        }

        @media(max-width: 320px) {
          font-size: 3.5vw;
        }
      }
    }

  }

  .buttons-container {
    display: flex;
    justify-content: center;

    &.projectdetails {
      margin-top: 3px;
    }
  
    .actionbutton-left {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #666;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 15px;
      width: $button-width;
      height: $button-height;
      min-width: 175px;

      @media(max-width: 440px) {
          width: 20%;
          min-width: 155px;
          height: 55px;
      }

      @media(max-width: 359px) {
          min-width: 155px;
          height: 55px;
      }

      @media(max-width: 342px) {
          min-width: 120px;
          height: 50px;
      }

      @media(max-width: 320px) {
          min-width: 100px;
          height: 40px;
      }

      a {
        color: #fff;
        font-family: $button-font-family;
        letter-spacing: 1px;
        font-size: $button-font-size;
        text-decoration: none;

        @media(max-width: 675px) {
          font-size: 16px;
        }

        @media(max-width: 359px) {
          font-size: 14px;
        }

        @media(max-width: 342px) {
          font-size: 11px;
        }

        @media(max-width: 320px) {
          font-size: 9px;
        }
      }

      &:hover {
        background-color: $hover-button-color;
      }

    }

    .actionbutton-right {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #666;       
      border-radius: 5px;
      margin-left: 15px;
      cursor: pointer;
      width: $button-width;
      min-width: 175px;
      height: $button-height;

      @media(max-width: 440px) {
          width: 20%;
          min-width: 155px;
          height: 55px;
      }

      @media(max-width: 359px) {
          min-width: 155px;
          height: 55px;
      }

      @media(max-width: 342px) {
          min-width: 120px;
          height: 50px;
      }

      @media(max-width: 320px) {
          min-width: 100px;
          height: 40px;
      }

      a {
        color: #fff;
        font-family: $button-font-family;
        letter-spacing: 1px;
        font-size: $button-font-size;
        text-decoration: none;

        @media(max-width: 675px) {
          font-size: 16px;
        }

        @media(max-width: 359px) {
          font-size: 14px;
        }

        @media(max-width: 342px) {
          font-size: 11px;
        }

        @media(max-width: 320px) {
          font-size: 9px;
        }
      }

      &:hover {
        background-color: $hover-button-color;
      }

    }

  }

  .downarrow-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  
    .downarrow-button {
      background: url('../assets/images/arrowdown.png') no-repeat 19px center;
      background-size: 22px;
      height: 80px;
      width: 60px;
      cursor: pointer;
    }
    
  }
  

}

.site-footer {
  
  margin-top: 250px;

  @media(max-width: 650px) {
    margin-top: 160px;
  }

  .wrapper {

    background-color: $footer-background-color;
    width: 100%;
    height: 500px;

    .contact-container {

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      h2 {
        font-family: $base-font-family;
        font-size: 30px;
        color: $text-color;
        margin-top: 100px;
        letter-spacing: 5px;

        @media(max-width: 650px) {
          font-size: 20px;
        }

      }

      h4 {
        font-family: $base-subheading-font-family;
        font-size: 17px;
        color: $text-color;
        margin-top: 10px;
        letter-spacing: 3px;

        @media(max-width: 650px) {
          font-size: 14px;
        }

      }

      .email {
        font-family: $base-subheading-font-family;
        font-size: 20px;
        color: $text-color;
        margin-top: 12px;
        margin-bottom: 30px;
        text-decoration: underline;
        letter-spacing: 2px;

        @media(max-width: 650px) {
          font-size: 15px;
        }

      }

    }

    .socialmedia-container {
        
      display: flex;
      justify-content: center;
      width: 100%;
      height: 70px;
      

      .social-facebook {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/facebook-logo-button.png') 6px center no-repeat;
        background-size: 38px;
        margin-left: 42px;
        margin-right: 42px;
      }

      .social-instagram {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/instagram-logo.png') 6px center no-repeat;
        background-size: 38px;
      }
      
      .social-linkedin {
        width: 50px;
        height: 50px;
        display: block;
        background: url('../assets/images/linkedin-button.png') 6px center no-repeat;
        background-size: 38px;
      }

    }

    h6 {
      display: flex;
      justify-content: center;
      font-family: $base-subheading-font-family;
      color: $text-color;
      font-size: 9px;
      letter-spacing: 3px;

      @media(max-width: 650px) {
        font-size: 6px;
      }

    }

  }

}

.is-fixed {
  position: fixed;
}


.uparrow-container {
  display: flex;
  justify-content: flex-end;

  .uparrow-button {
    margin-top: 10px;
    margin-right: 20px;
    background: url('../assets/images/arrowup.png') no-repeat 19px center;
    background-size: 22px;
    height: 80px;
    width: 60px;
    cursor: pointer;
  }

}
