---
layout: default
---

<div class="quote-container">
  <blockquote>
    <p>"It is not enough that we build products that function, that are understandable and usable. We also need to build products that bring joy and excitement, pleasure and fun, and, yes, beauty to people's lives."</p>
    <footer>- Donald A. Norman</footer>
  </blockquote>
</div>

<div class="about-container">
  
  <div class="about-heading">
    <h2>ABOUT ME</h2>
  </div> 

  <div class="about-content">

    <div class="text">
      <p>Hi! My name is Rachel Heo, a freelance UI & UX designer who is based in Vancouver and Seoul.</p>

      <p>I have a passion for creating beautiful, intuitive, 
    and highly crafted designs combining a considered approach with emerging technologies. I have wide ranging skills in designing from web and mobile interfaces to prints and logos.</p>

      <p>My strengths lie in my attention to detail, the ability to refine complex requirements and information into simple and elegant solutions. I am not interested in simply “ticking the boxes” and churning out average designs. I want to make sure that everything I produce is something that I would be excited about if I were the client. I love what I do and I do what I love, and it makes me want to always outdo myself and seek out new challenges. </p>
    </div>

    <div class="profile-image">
      <img src="../assets/images/oval2.png" alt="Picture of Rachel Heo">
    </div>

  </div>

</div>

<div class="services-container">

  <div class="services-heading">
    <h2>SERVICES</h2>
  </div>

  <div class="design-pair">

    <div class="left-pair">

      <div class="design-heading">
        <h3>LOGO DESIGN</h3>
      </div>

      <div class="design-explanation">
        Simple, impactful, memorable, relevant, versatile logos for your business. 
      </div>

    </div>    

    <div class="right-pair">

      <div class="design-heading">
        <h3>APP & WEB DESIGN</h3>
      </div>

      <div class="design-explanation">
        Clean, user-friendly, and attractive applications & websites. Standards-compliant and easily accessible to your customers.
      </div>

    </div>   

  </div>

  <div class="design-pair">

    <div class="left-pair">

      <div class="design-heading">
        <h3>ILLUSTRATION</h3>
      </div>

      <div class="design-explanation">
        Unique illustrations help graphically represent your business. I specialize in: icons, graphics, and other hand-drawn illustrations.
      </div>

    </div>

    <div class="right-pair">

      <div class="design-heading">
      <h3>BRANDING & IDENTITY</h3>
      </div>

      <div class="design-explanation">
        Increase brand recognition and loyalty by revitalizing your company’s identity and image.
      </div>

    </div>

  </div>

  <div class="printdesign">

    <div class="left-pair">

      <div class="design-heading">
        <h3>PRINT DESIGN</h3>
      </div>

      <div class="design-explanation">
        Beautiful wedding invitation cards, name cards, restaurant or cafe menus, brochures, posters, etc. I can create anything you ask!
      </div>
    </div>

  </div>

</div>

