---
layout: default
---

<div class="contact-container">
  <div class="emoji-container">
    <img class="emoji" src="../assets/images/emoji.png" alt="Smiling face">
    <div class="emoji-blush">
      <img src="../assets/images/pinkblush.png" alt="blush">
    </div>  
  </div>

  <div class="availability-container">
    <p class="availability-header">I'm currently available for freelance work.</p>

    <div class="availability-description">
      <p>If you have a project that you want to get started,</p>
      <p>think you need my help with something</p>
      <p>or just fancy saying hey, then get in touch.</p>
    </div>
  </div>

  <a class="messageme" href="mailto:rachelheodesign@gmail.com">MESSAGE ME</a>
  
</div>