---
layout: default
---

<div class="contact-container">
  <div class="emoji-container">
    <img class="emoji" src="../assets/images/emoji-large.png" srcset="../assets/images/emoji-large.png 550w, ../assets/images/emoji-med.png 300w, ../assets/images/emoji-small.png 140w" sizes="(max-width: 1440px) 60vw, (max-width:800px) 80vw, (max-width:400px) 100vw", alt="Smiling face">
  </div>

  <div class="availability-container">
    <p class="availability-header">I'm currently available for freelance work.</p>

    <div class="availability-description">
      <p>If you have a project that you want to get started,</p>
      <p>think you need my help with something</p>
      <p>or just fancy saying hey, then get in touch.</p>
    </div>
  </div>

  <a class="messageme" href="mailto:rachelheodesign@gmail.com">MESSAGE ME</a>  
</div>
<!--
<div class="emoji-blush">
  <img src="../assets/images/pinkblush.png" alt="blush">
</div>  -->