---
layout: default
---

<div class="contact-container">
  <div class="emoji-container">
    <img class="emoji" src="../assets/images/emoji-large.png" srcset="../assets/images/emoji800.png 700w, ../assets/images/emoji800.png 700w, ../assets/images/emoji400.png 400w, ../assets/images/emoji320.png 320w" sizes="(max-width: 1640px) and (min-width: 841px) 200px, (max-width: 840px) and (min-width: 701px) 35vw, (max-width: 700px) and (min-width:321px) 40vw, (max-width: 320px) and (min-width:320px) 50vw" alt="Smiling face">
    <!--<div class="emoji-blush">
      <img srcset="../assets/images/pinkblush400.png 400w" sizes="(max-width: 1640px) 30vw" alt="blush">
    </div>  -->
    
  </div>

  <div class="availability-container">
    <p class="availability-header">I'm currently available for freelance work.</p>

    <div class="availability-description">
      <p>If you have a project that you want to get started,</p>
      <p>think you need my help with something</p>
      <p>or just fancy saying hey, then get in touch.</p>
    </div>
  </div>

  <a class="messageme" href="mailto:rachelheodesign@gmail.com">MESSAGE ME</a>  
</div>

