---
layout: default
---

<div class="home">
  
  <div class="image-container">
    <img class="logo" src="../assets/images/finallll.png" srcset="../assets/images/logo800.png 800w, ../assets/images/logo400.png 400w, ../assets/images/logo320.png 320w" sizes="(min-width: 1440px) 40vw, (min-width: 800px) 35vw, (min-width: 320px) 85vw" alt="main logo for Rachel's portfolio website">
  </div>

  <div class="heading-container">
    <h2 class="top-heading">RACHEL HEO</h2>
    <h2 class="bottom-heading">UI & UX DESIGN</h2>
  </div>

  <div class="buttons-container">
    <div class="actionbutton-left"><a href="/works">SEE PROJECTS</a></div>
    <div class="actionbutton-right"><a href="/contact">CONTACT ME</a></div>
  </div>
  
  <div class="downarrow-container">
    <div class="downarrow-button"></div>
  </div>

  <div id="projects">
    <div class="image-container">
      <img src="../assets/images/delta.png" srcset="../assets/images/delta-800.png 800w, ../assets/images/delta-400.png 400w, ../assets/images/delta-320.png 320w" sizes="(min-width: 1440px) 60vw, (min-width: 800px) 65vw, (min-width: 320px) 85vw" alt="Delta Kids project">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">DELTA KIDS</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/CXASICBQ6">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p4-case-study-9bc802f51a98">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img src="../assets/images/potlucky.png" srcset="../assets/images/potlucky-800.png 800w, ../assets/images/potlucky-400.png 400w, ../assets/images/potlucky-320.png 320w" sizes="(min-width: 1440px) 60vw, (min-width: 800px) 65vw, (min-width: 320px) 85vw" alt="Potlucky project">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">POTLUCKY</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/MNAKV8EBT">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p3-case-study-31df5d54d42c">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img src="../assets/images/denmark.png" srcset="../assets/images/denmark-800.png 800w, ../assets/images/denmark-400.png 400w, ../assets/images/denmark-320.png 320w" sizes="(min-width: 1440px) 60vw, (min-width: 800px) 65vw, (min-width: 320px) 85vw" alt="Denmark Tourism Campaign project">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project denmark">DENMARK TOURISM CAMPAIGN</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/RFA7EUPNG">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p2-case-study-4d789cd3ce15">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img src="../assets/images/rewind.png" srcset="../assets/images/rewind-800.png 800w, ../assets/images/rewind-400.png 400w, ../assets/images/rewind-320.png 320w" sizes="(min-width: 1440px) 60vw, (min-width: 800px) 65vw, (min-width: 320px) 85vw" alt="Rewind project">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">REWIND</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/PQBIT273C">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="#">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img src="../assets/images/heo.png" srcset="../assets/images/heo-800.png 800w, ../assets/images/heo-400.png 400w, ../assets/images/heo-320.png 320w" sizes="(min-width: 1440px) 60vw, (min-width: 800px) 65vw, (min-width: 320px) 85vw" alt="Rachel's website design project">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">RACHEL HEO DESIGN</h2>
      <h2 class="bottom-heading design-description">Web Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="#">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="#">VIEW CASE STUDY</a></div>
    </div>
  </div>

</div>
