---
layout: default
---

<div class="home">
  
  <div class="image-container">
    <img class="logo" src="../assets/images/finallll.png" alt="main logo for Rachel's portfolio website">
  </div>

  <div class="heading-container">
    <h2 class="top-heading">RACHEL HEO FOO</h2>
    <h2 class="bottom-heading">UI & UX DESIGN</h2>
  </div>

  <div class="buttons-container">
    <div class="actionbutton-left"><a href="/works">SEE PROJECTS</a></div>
    <div class="actionbutton-right"><a href="/contact">CONTACT ME</a></div>
  </div>
  
  <div class="downarrow-container">
    <div class="downarrow-button"></div>
  </div>

  <div id="projects">
    <div class="image-container">
      <img class="project-image" src="../assets/images/delta.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">DELTA KIDS</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/potlucky.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">POTLUCKY</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/denmark.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">DENMARK TOURISM CAMPAIGN</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/rewind.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">REWIND</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/heo.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">RACHEL HEO DESIGN</h2>
      <h2 class="bottom-heading design-description">Web Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="">VIEW CASE STUDY</a></div>
    </div>
  </div>

  <div class="uparrow-container">
    <div class="uparrow-button"></div>
  </div>

</div>
