---
layout: default
---

<div class="testimonial-container">
    <div class="testimonial">
        <blockquote>
            <p>
                "Rachel redesigned a website for our charity. 
                She did a great job of connecting with our clients and determining an appropriate colour palette. 
                She designed beautiful custom graphics and artwork. 
                Rachel was very flexible, adjusting the designs to fit our demographics and values. 
                We were thrilled with the result and I highly recommend Rachel for UI work." 
            </p>
            <footer>- Andrea Lemire</footer>
        </blockquote>
        
    </div>

    <div class="testimonial">
        <blockquote>
            <p>
                "Rachel is detail-oriented and has a passion to create wonderful designs. 
                She is efficient and fast in systematically working on her projects. 
                In the end, all of the projects she has worked with resulted in great client satisfaction."
            </p>        
            <footer>– Ember Navarro</footer>
        </blockquote>
    </div>

    <div class="testimonial">
        <blockquote>
        <p>
            "I admire her strength and dedication. 
            I think she is a wonderful designer and I can’t wait to see where she lands."
        </p>
        <footer>– Julie Tremblay</footer>
        </blockquote>
        
    </div>

    <div class="testimonial">
        <blockquote>
        <p>
            “She is a sweet and warm person to work with. 
            I admire her way of creating and how all of her projects work out.” 
        </p>
            <footer>– Ben Frey</footer>
        </blockquote>
    </div>

    <div class="testimonial">
        <blockquote>
        <p>
            “She is so sweet and fun but also incredibly hardworking and always creates masterpieces. 
            She always keeps going, pushing herself yet remaining positive and creative.” 
        </p>
        <footer>– Julia Mathieson</footer>
        </blockquote>
    </div>
</div>