---
layout: default
---

<div class="home">

        <div id="projects">
    <div class="image-container">
      <img class="project-image" src="../assets/images/delta.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">DELTA KIDS</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/CXASICBQ6">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p4-case-study-9bc802f51a98">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/potlucky.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">POTLUCKY</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/MNAKV8EBT">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p3-case-study-31df5d54d42c">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/denmark.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">DENMARK TOURISM CAMPAIGN</h2>
      <h2 class="bottom-heading design-description">Responsive Design (Desktop & Mobile) / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/RFA7EUPNG">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="https://medium.com/@rachelheo/p2-case-study-4d789cd3ce15">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/rewind.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">REWIND</h2>
      <h2 class="bottom-heading design-description">Mobile App Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="https://invis.io/PQBIT273C">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="#">VIEW CASE STUDY</a></div>
    </div>

    <div class="image-container">
      <img class="project-image" src="../assets/images/heo.png">
    </div>

    <div class="heading-container">
      <h2 class="top-heading project">RACHEL HEO DESIGN</h2>
      <h2 class="bottom-heading design-description">Web Design / UI & UX</h2>
    </div>

    <div class="buttons-container projectdetails">
      <div class="actionbutton-left"><a href="#">VIEW PROTOTYPE</a></div>
      <div class="actionbutton-right"><a href="#">VIEW CASE STUDY</a></div>
    </div>
  </div>

    <div class="uparrow-container">
      <div class="uparrow-button"></div>
    </div>

  </div>